<section class="main1">
		<!---<img src="assets/roasted-duck-1508975_1920 (1).jpg" id="hero-img"/>-->
	</section>

	<section class="about-section1">
		<div class="about-container1">
					<h2 class="about-head">To bring Quality, Style, and the wish Good<br> To fortune to all our guests. We provide a high-end<br> experience
					 through chinese cuisine</h2>
			<div class="about-row1">  				
  				<div class="about-column1">
    				<img src="assets/black-white-style-chef.jpg" alt="about-img" class="about-img"/>
  				</div>
  				<div class="about-column-11">
    				<h1>ABOUT</h1>
    				<p>Our vision for the future is to create experiential for the dining taht is more than just a night out, We aim to bring quality and
					luxury to all aspects of our brand.</p>
					
  				</div>
			</div>
		</div>
	</section>