<section class="main">
		<img src="assets/spicy_prawn.jpg" alt="hero-img" id="hero-img"/>
	</section>

	<section class="menu-section">
		<div class="menu-container">
			<div class="menu-row">
  				<div class="menu-column-1">
    				<h1>MENU</h1>
    				<p>Our menu is Built Around the changing seasons and we only use the finest and locally-sourced ingredients in our dishes. </p>
					<button class="read-btn">READ MORE</button>
  				</div>
  				<div class="menu-column">
    				<img src="assets/wonton_soup.jpg" alt="menu-img-1" class="menu-img"/>
  				</div>
  				<div class="menu-column">
    				<img src="assets/egg_roll.jpg" alt="menu-img-2" class="menu-img"/>
  				</div>
			</div>
		</div>
	</section>

	<section class="about-section">
		<div class="about-container">
			<div class="about-row">  				
  				<div class="about-column">
    				<img src="assets/Chef_mooncakes.jpg" alt="about-section-img" class="about-img"/>
  				</div>
				  <div class="about-column-1">
    				<h1>ABOUT</h1>
    				<p>Loki's mission is to bring japanese soul food to you doorstep and transport to downtown tokyo, Chef Yakimoto is the founder and owner of Loki,
					trained under many teacher in chiba prefecture before move to UK.</p>
					<button class="read-btn">READ MORE</button>
  				</div>
			</div>
		</div>
	</section>

	<section class="contact-section">
		<div class="contact-container">
			<div class="contact-row">
  				<div class="contact-column">
    				<img src="assets/black-white-style-chef.jpg" alt="contact-img-1" class="contact-img"/>
  				</div>
  				<div class="contact-column">
    				<img src="assets/chefs-in-steam.jpg" alt="contact-img-2" class="contact-img"/>
  				</div>
				<div class="contact-column-1">
    				<h1>CONTACT</h1>
    				<p>We take table reservation and cater at events, Get in touch with our team for more details, For dietery instructions, reach out our front of
					house team.</p>
					<button class="read-btn">READ MORE</button>
  				</div>
			</div>
		</div>
	</section>

	<section class="main">
		<img src="assets/dim-sum-906211_1920.jpg" alt="bottom-big-img" id="bottom-big-img"/>
	</section>