<section class="menu1">
		<h1 class="menu-title1">MENU</h1>
		<div class="menu-container1">
			<div class="content1">
				<h1>Starter</h1>
				<div class="inner-content1">
					<p class="bold-right">6.0</p>
					<p class="bold">Egg Rolls (4)</p>					
					<p class="light">Pork or vegetables</p>
				</div>
				<div class="inner-content1">
					<p class="bold-right">8.0</p>
					<p class="bold">Pork Dumplings(6)</p>					
					<p class="light">Fried and Steams</p>
				</div>
				<div class="inner-content1">
					<p class="bold-right">10.0</p>
					<p class="bold">Crab cheese wontons</p>					
					<p class="light">Six, Stuffed fried wontons</p>
				</div>
			</div>
			<div class="content1">
				<h1>Soups</h1>
				<div class="inner-content1">
					<p class="bold-right">7.9</p>
					<p class="bold">SeaFood Soup</p>					
					<p class="light">Shrimp, Sea scallops, Nepa cabbage and chinese wheat noodles.</p>
				</div>
				<div class="inner-content1">
					<p class="bold-right">7.9</p>
					<p class="bold">Hot and sour</p>					
					<p class="light">Mushroom, Firm Tofu and chicken Broth</p>
				</div>
				<div class="inner-content1">
					<p class="bold-right">7.9</p>
					<p class="bold">Wonton Soup</p>					
					<p class="light">Ground pork, Green Onion and Ginger</p>
				</div>
			</div>
			<div class="content1">
				<h1>Dim Sum</h1>
				<div class="inner-content1">
					<p class="bold-right">7.9</p>
					<p class="bold">Squid w/ curry sauce</p>					
				
				</div>
				<div class="inner-content1">
					<p class="bold-right">9.9</p>
					<p class="bold">Mixed Fish set</p>					
				
				</div>
				<div class="inner-content1">
					<p class="bold-right">12.0</p>
					<p class="bold">Spare rib w/ bean sauce</p>					
					
				</div>
				<div class="inner-content1">
					<p class="bold-right">14.0</p>
					<p class="bold">Beef Tripe w/ onion and Ginger</p>					
					
				</div>
				<div class="inner-content1">
					<p class="bold-right">20.0</p>
					<p class="bold">Ribs of veal w/ Honey Sauce</p>					
					
				</div>
			</div>
		</div>
	<section>